*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}


/* ---- nav section start ----- */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}
.nav_left .G{
    color: #FF42A5 ;
}
.nav_left span{
    padding-left: 15px;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.nav_right{
    display: flex;
}
.nav_right > ul{
    display: flex;
}
.nav_right ul li{
   list-style: none;
   padding-right: 20px;
}
.nav_right li a{
   text-decoration: none;
   color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav_right .btn{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    border: none;

}
.btn i{
    padding-right: 10px;
    padding-left: 7px;
}
/* ------ banner part start ------- */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_text h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner_text h2{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: -50px 0px;
}
.banner_icon {
    padding-bottom: 40px;
}
.banner_icon p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;

}
.banner_icon i{
    padding-right:15px ;
}
.btn_primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    border:none;
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}
.btn_secondary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    border:none;
    background: #4EC5F7;

}

/* ------- game part start ------- */
.gamer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.gamer_right{
    text-align: right;
}
.gamer_right h3{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer_right p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.gamer_right .gamer_right_text{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
.gamer_right .gamer_right_text span{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}

/* -----  funny header sectiokn start------ */
.funny_header{
   text-align: center;
}
.funny_header h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.funny_header .funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.funny_header p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.funny_image{
    display: flex;
    justify-content: space-evenly;
    
}
.funny_image_part img{
    margin-right: 15px;
    
}
.funny_image_part p{
    color: #534C64;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

/* ------ paly part start  --------- */
.play{
    display: flex;
    padding: 120px 0px;
    align-items: center;
}
.play_text{
    margin-right: 120px;
}
.play_text h3{
    color:  #F948B2 ;
    font-size: 48px;
    font-weight: 700;
    line-height: 20px; /* 125% */
}
.play_text h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
}
.play_text p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.play_img {
    position: relative;
}
.play_img img{
    width: 100%;
}
.ab_img{
    position: absolute;
    content: "";
    bottom: -66px;
    left: -93px;
    height: 252px;
    width: 258px;
}


/* ------- little part ---------- */
.little{
    padding: 150px 0px;
}
.little_up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    
}
.little_down{
    display: flex;
}
.little_down{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
}
.little_item:hover {
    padding: 20px;
    transition: 0.5s;
    border: 2px solid #F948B2;
    border-radius: 50px;
    background: #FFF;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.little_item:hover span{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.little_item span{
    align-items: center;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}


/* ---------- footer part start ---------- */

.footer{
    background: #0B0223;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 230px;
}
.footer_main_i span{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.footer_main_i .g{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text_part >ul {
     list-style: none;
     display: flex;
     justify-content: center;
     padding: 60px 0;
}

.text_part li{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding-right: 60px;

}

.footer_text >ul {
    list-style: none;
     display: flex;
     justify-content: center;

}

.footer_text li{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-right: 60px;
}
.f_copyright{
    justify-content: center;
}
.f_copyright p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top:18px;
}